/* Disgusting. */

html{
height:100%;
}
body{
	min-width:1200px;
	background-color:black;
	height:100%;
	margin:0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
}

#heightWrapper{
	position:relative;
	height:100%;
	padding-top:23px;
	min-height:706px;
	display:block;
	background-color:black;
	box-sizing:border-box;
}
#widthWrapper{
	width:100%;
	min-width:1200px;
	max-width:1700px;
	margin:auto;
}

#contentWrapper{
	height:calc(100% - 23px);
	width:100%;
	max-width:1600px;
	margin:auto;
	background-color:blue;
	min-height:681px;
	display:block;
}

h1{
	margin:0px;
	margin-left:5px;
	padding:0px;
	font-size:1em;
	display:inline;
}
h1:last-child{
	width:100vw;
	min-width:1200px;
}

.separator{
	margin:0px;
	height:23px;
	font-size:.8em;
	padding:0.35em;
	background-color:#ACD;
	white-space:nowrap;
	border-bottom: 1px solid #559;
	border-top: 1px solid #559;
	box-sizing:border-box;
	z-index:1;
}
.separator:first-child{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	min-width:1200px;
	padding:0.3em;
	height:23px;
	border-top:none;
	display:block;
}
.separator ul{
	margin:0px;
	padding:0px;
	display:inline;
}
.separator li{
	margin:5px;
	list-style-type:none;
	display:inline;
	text-decoration:underline;
	white-space:nowrap;
	overflow:hidden;
}
.containsSelect{
	height:28px;
}
.separator select{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.separator h2{
	margin:0px;
        margin-top:-0.3em;
	padding:0px;
	width:50%;
	font-size:1.2em;
	text-align:center;
	box-sizing:border-box;
	display:inline-block;
}
.separator h2:last-child{
	box-sizing:border-box;
}

#statDisplayContainer{
	color:white;
	height:250px;
	width:100%;
	margin:auto;
	background-color:#112;
	display:block;
	text-align:center;
}


.statDisplay{
	position:relative;
	height:100%;
        padding-top:25px;
	margin:auto;
	width:520px;
        color:black;
	background-color:#cdd;
	box-sizing:border-box;
	display:inline-block;
	overflow:hidden;
}
.statDisplay:last-child{
	border-left:3px solid #112;
	margin-right:0px;
}
.statDisplay h1{
	position:absolute;
	top:6px;
	left:10px;
	padding:0px;
	font-size:.9em;
	font-weight:bold;
	display:block;
}
.statDisplay h2{
	margin-bottom:0px;
	height:20px;
	width:25%;
	font-size:.9em;
	display:inline-block;
	box-sizing:border-box;
	border: 1px solid black;
	border-left:none;
	float:left;
}
.statDisplay h2:last-child{
	border-right:none;
}

.statDisplay .buildParts{
	width: 25%;
	height:70%;
        padding-top:5px;
	box-sizing:border-box;
	border-right: 1px solid black;
	float:left;
}
.statDisplay .buildParts:last-child{
	border-right:none;
}

.statContainer{
	position:relative;
	height:19px;
	width:50%;
	float:left;
	display:block;
}
.statContainer p{
	margin:0px;
	width:35px;
	font-weight:bold;
	font-size:12px;
	padding:4px 0px 0px 0px;
	display:inline-block;
	overflow:hidden;
	text-align:left;
	float:right;
}
.statContainer p:first-child{
	width:100px;
	float:left;
	font-weight:normal;
	text-align:right;
}

.statContainer .barBack{
	position:absolute;
	top:4px;
	left:110px;
	height:15px;
	width:108px;
	display:block;
	background-color:#888;
	z-index:0;
}
.statContainer .statGrid{
	position:absolute;
	top:4px;
	left:110px;
	width:108px;
	height:15px;
	display:block;
	float:right;
	z-index:2;
}
.statContainer .statFill{
	width:54px;
	height:15px;
	display:block;
	position:absolute;
	top:4px;
	left:110px;
	background-color:yellow;
	z-index:1;
}
.statContainer .barBlock{
	margin:0px;
	padding:0px;
	width:18px;
	height:100%;
	border: 1px solid black;
        border-width: 1px 1px 1px 0px;
	box-sizing:border-box;
	display:block;
	float:left;
}
.statContainer .barBlock:first-child{
	border-left:1px solid black;
}
.partSelectWrap{
	height:180px;
	display:block;
}
.partSelectContainer{
	height:100%;
	width:50%;
	display:inline-block;
	box-sizing:border-box;
	background-color:#cdd;
	float:left;
}
.partSelectContainer:last-child{
	border-left:3px solid #559;
}

.partSelectArea{
	height:100%;
	width:25%;
	display:inline-block;
	float:left;
	padding:0px 6px;
	box-sizing:border-box;
}
.partSelectArea h1{
	width:100%;
	text-align:center;
	display:block;
	font-weight:normal;
	font-size:.8em;
}
.partSelect{
	width:100%;
	margin:auto;
        max-width:200px;
	height:158px;
	display:block;
}
#searchContainer{
	position:absolute;
	top:504px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom:0;
	margin:auto;
	min-height:200px;
	min-width:1200px;
	max-width:1700px;
	width:100%;
	background-color:green;
}
#searchArea{
	font-size:.8em;
	padding:4px;
	width:50%;
	box-sizing:border-box;
	height:calc(100% - 23px);
	background-color:#cdd;
	display:inline-block;
	float:left;
	overflow:hidden;
}
#searchArea p:first-child{
	margin:0px;
	margin-bottom:3px;
	font-weight:bold;
}
#searchArea p:last-child{
	font-style:italic;
	margin:6px 0px 0px 6px;
	float:left;
}
#searchArea ul{
	margin:0px;
	padding:0px;
	width:100%;
	max-width:600px;
	margin:auto;
	list-style:none;
	clear:both;
	box-sizing:border-box;
	height:126px;
}
#searchArea li{
	width:50%;
	float:left;
	height:21px;
	border:1px solid black;
	box-sizing:border-box;
	border-width: 1px 1px 0px 0px;
	box-sizing:border-box;
}
.searchCheckbox{
	height:20px;
	border-right:1px solid black;
	float:left;
}
#searchArea li:nth-child(odd){
	border-width: 1px 1px 0px 1px;
}
#searchArea li:nth-child(n+11){
	border-bottom: 1px solid black;
}

.simpleSearchStat{
	width:40%;
	padding-top:1px;
	padding-right:5px;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:right;
}
#searchArea input[type="button"]{
	float:right;
	font-weight:bold;
	margin: 4px 10px 0px 0px;
	width:120px;
}
#searchResults{
	position:absolute;
	top:0px;
	width:50%;
	height:calc(100% - 23px);
	border-left:3px solid #559;
	box-sizing:border-box;
	background-color:#566;
	display:inline-block;
	overflow:auto;
	float:left;
}
#searchResultsMessage{
	height:100%;
	width:100%;
	color:#222;
        padding-top:50px;
	font-size:2em;
	text-align:center;
	box-sizing:border-box;
	display:block;
}
#individualStatsArea{
	width:100%;
	height:calc(100% - 23px);
	background-color:#cdd;
	display:inline-block;
}
#individualStatsArea table{
	height:100%;
	width:100%;
	font-size:.8em;
	margin:0px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align:center;
}
#individualStatsArea tr:first-child td{
	height:20%;
	min-height:33px;
}
#individualStatsArea tr:nth-child(4n+1){
	border-bottom:2px solid black;
}
#individualStatsArea td:first-child{
	overflow:hidden;
}
#individualStatsArea td{
	background-color:#ddf;
}
#individualStatsArea td:nth-child(n+8){
	background-color:#fdd;
}
#individualStatsArea td:nth-child(n+11){
	background-color:#dfd;
}
#individualStatsArea td{
	width:7.692%;
	border:1px solid black;
}
#searchResults ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#searchResults li{
	width:100%;
	padding-top:0;
	font-size:1em;
	height:1.5em;
	box-sizing:border-box;
	border: 1px solid black;
	border-width: 0px 0px 1px 0px;
	background-color:#eff;
	display:block;
}
#searchResults li input[type="radio"]{
	margin: 5px 10px 0px 10px;
	width:13px;
	display:inline-block;
	float:left;
}
.resultsPartition{
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	margin:0px;
	height:100%;
	padding-top:.25em;
	width:calc(25% - 8.5px);
	box-sizing:border-box;
	border-left: 1px solid black;
	display:inline-block;
	text-align:center;
	float:left;
}
#footer{
	position:absolute;
	min-width:1200px;
	width:100%;
	bottom:0px;
}